<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Waforapp</name>

  <description>
      Wachamo University Forum Systems Mobile Application 
  </description>

  <author href="https://build.phonegap.com" email="wuletawwonte@yahoo.com">
      Wuletaw Wonte
  </author>

  <preference name="cordova.plugins.diagnostic.modules" value="WIFI" />
  <preference name="target-device" value="android" />  
  <preference name="android-minSdkVersion" value="14" />    
  <preference name="fullscreen" value="false" />

  <plugin name="cordova-plugin-splashscreen" source="npm">
        <preference name="SplashScreen"               value="splash" />
        <preference name="AutoHideSplashScreen"       value="true" />
        <preference name="SplashScreenDelay"          value="3000" />
        <preference name="SplashMaintainAspectRatio"  value="true" />
        <preference name="FadeSplashScreen"           value="false"/>
        <preference name="ShowSplashScreenSpinner"    value="false" />
  </plugin>  

  <icon density="ldpi" platform="android" src="./res/icon/android/ldpi.png"/>
  <icon density="mdpi" platform="android" src="./res/icon/android/mdpi.png"/>
  <icon density="hdpi" platform="android" src="./res/icon/android/hdpi.png"/>
  <icon density="xhdpi" platform="android" src="./res/icon/android/xhdpi.png"/>
  <icon density="xxhdpi" platform="android" src="./res/icon/android/xxhdpi.png"/>
  <icon density="xxxhdpi" platform="android" src="./res/icon/android/xxxhdpi.png"/>
  <splash density="ldpi" platform="android" src="./res/screen/android/splash-ldpi.png"/>
  <splash density="mdpi" platform="android" src="./res/screen/android/splash-mdpi.png"/>
  <splash density="hdpi" platform="android" src="./res/screen/android/splash-hdpi.png"/>
  <splash density="xhdpi" platform="android" src="./res/screen/android/splash-xhdpi.png"/>
  <splash density="xxhdpi" platform="android" src="./res/screen/android/splash-xxhdpi.png"/>
  <splash density="xxxhdpi" platform="android" src="./res/screen/android/splash-xxxhdpi.png"/>

  <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
  <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
  <plugin name="cordova-plugin-whitelist" version="1" />
  <allow-intent href="http://*/*" />
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />

</widget>