<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Waforapp</name>

  <description>
      Wachamo University Forum Systems Mobile Application 
  </description>

  <author href="https://build.phonegap.com" email="wuletawwonte@yahoo.com">
      Wuletaw Wonte
  </author>

  <preference name="cordova.plugins.diagnostic.modules" value="WIFI" />
  <preference name="target-device" value="android" />  
  <preference name="fullscreen" value="true" /> 
  <preference name="SplashMaintainAspectRatio" value="false"/>
  <preference name="SplashShowOnlyFirstTime" value="false"/>
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="SplashScreenDelay" value="3000" />


  <icon density="ldpi" platform="android" src="./res/icon/android/ldpi.png"/>
  <icon density="mdpi" platform="android" src="./res/icon/android/mdpi.png"/>
  <icon density="hdpi" platform="android" src="./res/icon/android/hdpi.png"/>
  <icon density="xhdpi" platform="android" src="./res/icon/android/xhdpi.png"/>
  <icon density="xxhdpi" platform="android" src="./res/icon/android/xxhdpi.png"/>
  <icon density="xxxhdpi" platform="android" src="./res/icon/android/xxxhdpi.png"/>
  <splash density="port-ldpi" qualifier="ldpi" platform="android" src="./res/screen/android/splash-port-ldpi.png"/>
  <splash density="port-mdpi" qualifier="mdpi" platform="android" src="./res/screen/android/splash-port-mdpi.png"/>
  <splash density="port-hdpi" qualifier="hdpi" platform="android" src="./res/screen/android/splash-port-hdpi.png"/>
  <splash density="port-xhdpi" qualifier="xhdpi" platform="android" src="./res/screen/android/splash-port-xhdpi.png"/>
  <splash density="port-xxhdpi" qualifier="xxhdpi" platform="android" src="./res/screen/android/splash-port-xxhdpi.png"/>
  <splash density="port-xxxhdpi" qualifier="xxxhdpi" platform="android" src="./res/screen/android/splash-port-xxxhdpi.png"/>

</widget>