  <ng-include src="'templates/header.html'"></ng-include>


 <br>

  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-12 col-xs-12" >
      <!-- <a href="#/home" class="btn btn-warning btn-block">Click here to refresh</a> -->
      <div class="box" style="border-radius: 0; padding-top: 8px;">
        <div class="box-body">
            <!-- Post -->

			<div class="form-group">
              <label>Textarea</label>
              <textarea class="form-control" ng-model="forum_question" name="forum_question" rows="3" placeholder="Enter ..."></textarea>
            </div>

        </div>

		<div class="box-footer">
   			<a href="#/forums" class="btn btn-default">Cancel</a>
            <button ng-click="postForum()" class="btn btn-info pull-right">Save</button>
   		</div>
 
      </div>

      </section>
      

    </div>
  </div>



