


	<ng-include src="'templates/header.html'"></ng-include>

    <br>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-12 col-xs-12" >

		<div class="box" style="border-radius: 0; padding-top: 8px;">
      		<div class="box-body">



	          		<!-- <?php if(date('Y-m-d') < $election['candidate_selection_start_date']) { ?>           	 -->
	          			<div class="callout" ng-show="today < election['candidate_selection_start_date']">
				          <h4>Election!</h4>
				          <p>Election Process not started yet. The Election candidate selection date is at {{election['candidate_selection_start_date']}}</p>
				        </div> 

						<div class="col-md-12" ng-show="today > election['candidate_selection_start_date'] && today < election['candidate_selection_end_date']">
				          <!-- Widget: user widget style 1 -->
						  <div class="alert alert-warning" ng-show="message" role="alert">
							  {{message}}
						  </div>
				          
				          <div class="box box-widget widget-user">
				            <!-- Add the bg color to the header using any of the bg-* classes -->
				            <div class="widget-user-header bg-aqua-active" style="background: url('img/photo6.jpg') center center;">
				              <h3 class="widget-user-username">{{user.name}}</h3>
				              <h5 class="widget-user-desc">{{user.user_type}}</h5>
				            </div>
				            <div class="widget-user-image">
				              <img class="img-circle" src="http://waforapp.wuletaw/assets/img/profile_pictures/{{user.avatar}}" alt="User Avatar" style="height: 90px;">
				            </div>
				            <div class="box-footer">
				              <div class="row">


				              </div>
				              <!-- /.row -->
				            <div class="box-body">


				              <strong> Election</strong><br>
				              <p class="text-muted">Send Request for becoming Student Council Candidate.</p>

				              <a href="" class="btn btn-info" ng-click="sendCandidateRequest()">Confirm</a>
				              <a href="" ng-click="cancelCandidateRequest()" class="btn">Cancel</a>

				            </div>
				            </div>
				          </div>
				          <!-- /.widget-user -->
				        </div>

	          			<div class="callout" ng-show="today > election['candidate_selection_end_date'] && today < election['candidate_advertisement_start_date']">
				          <h4>Election!</h4>
				          <p>Candidate Selection Period is over. The elected Candidates are gonna start advertising on {{election['candidate_advertisement_start_date']}}</p>
				        </div> 

				        <div ng-show="today > election['candidate_advertisement_start_date'] && today < election['election_start_date']">
				        	
	           			  <ul class="users-list clearfix">
		                    <li ng-repeat="cndt in candidates">
		                      <img src="http://waforapp.wuletaw/assets/img/profile_pictures/{{cndt.avatar}}" alt="User Image">
		                      <a class="users-list-name" href="#">{{cndt.first_name+' '+cndt.middle_name}}</a>
		                    </li>
		                  </ul>
		                  <!-- /.users-list --><hr>

						  <div class="alert alert-warning" ng-show="message" role="alert">
							  {{message}}
						  </div>

		           			<div ng-show="is_candidate">

								<div class="form-group">
				                  <label>Advertisement</label>
				                  <textarea class="form-control" ng-model="ad_content" rows="3" placeholder="Enter ..."></textarea>
				                </div>
				                <button ng-click="post_advertisement()" class="btn btn-info">Post</button>
			           		</div>
			           		<hr>

							<div class="alert alert-warning" ng-show="!advertisements" role="alert">
								  No Advertisement posted yet.
							</div>

				        	<div ng-show="advertisements">
								<div class="post" ng-repeat="student in advertisements">
				                  <div class="user-block">
				                    <img class="img-circle img-bordered-sm" src="http://waforapp.wuletaw/assets/img/profile_pictures/{{student.avatar}}" alt="user image">
				                        <span class="username">
				                          <a href="">{{student.first_name+' '+student.middle_name}}</a>
				                        </span>
				                    <span class="description">Student Council Candidate - {{student.ad_date}} </span>
				                  </div>
				                  <p>{{student.ad_content}}</p>
				                </div>
				            </div>
				        </div>

				        <div ng-show="today > election['election_start_date'] && today < election['election_end_date']">
						  <div class="alert alert-warning" ng-show="message" role="alert">
							  {{message}}
						  </div>

	           			  <h4>Voting Started: </h4>
	           			  <ul class="users-list clearfix">
		                    <li ng-repeat="cndt in candidates">
		                      <img src="http://waforapp.wuletaw/assets/img/profile_pictures/{{cndt['avatar']}}" alt="User Image">
		                      <a class="users-list-name" href="">{{cndt['first_name']+" "+cndt['middle_name']}}</a>
		                      <p>Vote Count: {{cndt['vote_count']}}</p>
		                      <a href="" ng-click="voteSend(cndt['id'])" class="btn btn-sm btn-info">Vote</a>
		                    </li>
		                  </ul><hr>
		                </div>

		            	<div ng-show="today > election['election_end_date']">
	           			  <h4>Elected Student Councils: </h4>
	           			  <ul class="users-list clearfix">
		                    <li ng-repeat="cndt in student_councils">
		                      <img src="http://waforapp.wuletaw/assets/img/profile_pictures/{{cndt.avatar}}" alt="User Image">
		                      <a class="users-list-name" href="">{{cndt['first_name']+" "+cndt['middle_name']}}</a>
		                      <p ng-show="cndt['vote_count']">Vote Count: {{cndt['vote_count']}}</p>
		                    </li>
		                  </ul><hr>
		                </div>


		            
			</div>
		</div>
	</div>