

<br>
<div class="col-md-8 col-sm-8">	        
  	<div class="box" style="border-radius: 0; padding-top: 8px;">
  		<div class="box-header">
  			<h3 class="box-title">Top Questions</h3>
  		
				<a href="http://waforapp.wuletaw/welcome/ask_question_view" class="btn btn-lg btn-info pull-right">Ask Question</a>        		
  		</div>
  		<div class="box-body">

        <div class="callout">
          <h4>Tip!</h4>
          <p>Add the layout-top-nav class to the body tag to get this layout. This feature can also be used with a sidebar!</p>
        </div> 

		<ul class="products-list product-list-in-box">
				                <li class="item">
              <div class="product-img">
                <a href=""> <img src="http://waforapp.wuletaw/assets/img/default-50x50.gif" class="img img-circle" alt="Product Image"></a>
				  </div>
              <div class="product-info">
                <a href="http://waforapp.wuletaw/welcome/forum_details/3" class="product-title">What is computer science?</a>
                  <span class=" pull-right">2019-06-14 15:43:35</span>
                <span class="product-description">
                	Tekeste Getnet	                        </span>
              </div>
            </li>
            	                <li class="item">
              <div class="product-img">
                <a href=""> <img src="http://waforapp.wuletaw/assets/img/default-50x50.gif" class="img img-circle" alt="Product Image"></a>
				  </div>
              <div class="product-info">
                <a href="http://waforapp.wuletaw/welcome/forum_details/2" class="product-title">በሰው ፡ ፍቅር ፡ የወደቀ ፡ እንኳን ፡ ይሰጥ ፡ የለ ፡ ወይ ፡ እራሱን(Betty Tezera)</a>
                  <span class=" pull-right">2019-06-13 12:25:29</span>
                <span class="product-description">
                	Wuletaw Wonte	                        </span>
              </div>
            </li>
            	                <li class="item">
              <div class="product-img">
                <a href=""> <img src="http://waforapp.wuletaw/assets/img/default-50x50.gif" class="img img-circle" alt="Product Image"></a>
				  </div>
              <div class="product-info">
                <a href="http://waforapp.wuletaw/welcome/forum_details/1" class="product-title">How Wonderful it is to worship God from the bottom of our hearts?</a>
                  <span class=" pull-right">2019-06-13 12:25:29</span>
                <span class="product-description">
                	Tekeste Getnet	                        </span>
              </div>
            </li>
            	                <!-- /.item -->
          </ul>


   		</div>
   	</div>
</div>