

  <ng-include src="'templates/header.html'"></ng-include>


 <br>


		<div class="box" style="border-radius: 0; padding-top: 8px;">
      		<div class="box-body">
                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="http://waforapp.wuletaw/assets/img/profile_pictures/avatar2.png" alt="user image">
                        <span class="username">
                          <a href="">{{forum.first_name+' '+forum.middle_name}}</a>
                        </span>
                    <span class="description">{{forum.user_type+' - '+forum.date_asked}}</span>
                  </div>
                  <!-- /.user-block -->
                  <p>{{forum.forum_question}}</p>

                  	<div>
                      	<input type="text" name="fid" value="5" hidden="">
                        <img class="img-responsive img-circle img-sm" src="http://waforapp.wuletaw/assets/img/profile_pictures/{{user.avatar}}" alt="Alt Text">
                        <!-- .img-push is used to add margin to elements next to floating images -->
                        <div class="img-push">
                          <input type="text" ng-model="answer_content" class="form-control input-sm" name="answer_content" placeholder="Press enter to post answer">
                          <button ng-click="postAnswer()" class="btn btn-sm btn-primary">Answer</button>
                    </div><hr>


					<div class="box-footer box-comments" style="">
		                <div class="box-comment" ng-repeat="answer in answers">
			                <img class="img-circle img-sm" src="http://waforapp.wuletaw/assets/img/profile_pictures/{{answer.avatar}}" alt="User Image">

			                <div class="comment-text">
			                      <span class="username">
			                        {{answer.first_name+' '+answer.middle_name}}
			                      <span class="text-muted pull-right">{{answer.date_answered}}</span>
			                      </span><!-- /.username -->
			                      {{answer.answer_content}}
			                </div>
			                <!-- /.comment-text -->
		                </div>
		              <!-- /.box-comment -->
		            </div>
		            
			</div>
		</div>
	