
  <header class="main-header">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" id="sidebar-toggler" data-toggle="push-menu" data-slide="false" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <img src="http://192.168.43.207/assets/img/profile_pictures/icon.png" class="user-image" alt="User Image">
              <span class="hidden-xs"><?= $this->session->userdata('name'); ?></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="http://192.168.43.207/assets/img/profile_pictures/icon.png" class="img-circle" alt="User Image">

                <p>
                  Blen Yosef 
                  <small><?= $this->session->userdata('user_type'); ?></small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="<?= base_url(); ?>admin/profile" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="<?= base_url(); ?>users/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
	  
	  <div class="user-panel">
        <div class="pull-left image">
          <img src="http://waforapp.wuletaw/assets/img/profile_pictures/icon.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>    
      <ul class="sidebar-menu">
        <li <?php if($active_menu == 'dashboard') echo "class='active'" ?> 
          <a href="<?= base_url(); ?>admin/index">
            <i class="fa fa-bell"></i> <span>Notice</span>
          </a>
        </li>
        <li <?php if($active_menu == 'students') echo "class='active'" ?>
          <a href="<?= base_url('admin/students'); ?>">
            <i class="fa fa-users"></i> <span>Students</span>
          </a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->  




  <div class="content-wrapper">
    <div class="container">

      <section class="content">

          <div class="row">

              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-12 col-xs-12" >
                  <a href="#/home" class="btn btn-warning btn-block">Click here to refresh</a>
                  <div class="box" style="border-radius: 0; padding-top: 8px;">
                    <div class="box-body">
                        <!-- Post -->
                        <div class="post">
                          <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="http://waforapp.wuletaw/assets/img/profile_pictures/icon.png" alt="user image" />
                                <span class="username">
                                  <a href="#">Wuletaw Wonte</a>
                                </span>
                            <span class="description">Student council - 2019-06-10 13:55:09</span>
                          </div>
                          <!-- /.user-block -->
                          <h5><a href="http://waforapp.wuletaw/welcome/notice/2">The key to Win a Battle</a></h5>
                          <p>
                            The key to winning a battle was knowing both your enemy and yourself. “If you know yourself but not the enemy, for every victory gained you will also suffer a defeat. If you know neither the enemy nor yourself, you will succumb in every battle.”                   </p>
                          <ul class="list-inline">
                            <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                            </li>
                            <li class="pull-right">
                              <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                                (5)</a></li>
                          </ul>

                          <form method="POST" action="http://waforapp.wuletaw/welcome/comment" class="form-horizontal" >
                            <div class="form-group margin-bottom-none">
                              <input type="text" name="nid" value="2" hidden >
                              <div class="col-sm-10">
                                <input class="form-control input-sm" name="comment_content" placeholder="Comment" >
                              </div>
                              <div class="col-sm-2">
                                <button type="submit" class="btn btn-info pull-right btn-block btn-sm">Comment</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- /.post -->
                        <div class="post">
                          <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="http://waforapp.wuletaw/assets/img/profile_pictures/avatar2.png" alt="user image">
                                <span class="username">
                                  <a href="#">Alem Zewdu</a>
                                </span>
                            <span class="description">Student council - 2019-06-10 12:07:34</span>
                          </div>
                          <!-- /.user-block -->
                          <h5><a href="http://waforapp.wuletaw/welcome/notice/1">Dear Customer, your dept is fully covered. ....</a></h5>
                          <p>
                              Many of you might have seen a message in your phone from tele saying 
        "Dear Customer, your dept is fully covered. ..." 
        How sweet is it to see this message? I feel so much relief just by seeing this message. Because this message means that after all this payments I&#8230;                    
                    </p>
                    <ul class="list-inline">
                      <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                      </li>
                      <li class="pull-right">
                        <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                          (5)</a></li>
                    </ul>

                    <form method="POST" action="http://waforapp.wuletaw/welcome/comment" class="form-horizontal" >
                      <div class="form-group margin-bottom-none">
                        <input type="text" name="nid" value="1" hidden>
                        <div class="col-sm-10">
                          <input class="form-control input-sm" name="comment_content" placeholder="Comment" >
                        </div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-info pull-right btn-block btn-sm">Comment</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.post -->
                  

              </div>
            </div>
          </div>

          </div>

      </section>
      <!-- /.content -->


    </div>
    <!-- /.container -->
  </div>



<script type="text/javascript">
	$('#sidebar-toggler').controlSidebar('slide', 'TRUE');
	$('body').layout('fix');
</script>

