
<!-- 

  <div class="content-wrapper">
    <div class="container">

      <section class="content">

          <div class="row">
 -->

  <header class="main-header">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" id="sidebar-toggler" data-toggle="push-menu" data-slide="false" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v"></i>
              <span class="hidden-xs"><?= $this->session->userdata('name'); ?></span>
            </a>
            <ul class="dropdown-menu" style="margin-right: -15px;width: 30px;">
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">Ekele Ekele </a>
                  </li>
                  <li>
                    <a href="" ng-click="signout();">Signout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    
      <div class="user-panel">
        <div class="pull-left image">
          <img ng-src="http://192.168.43.207/assets/img/profile_pictures/{{user.avatar}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{user.name}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>    
      <ul class="sidebar-menu">
        <li <?php if($active_menu == 'dashboard') echo "class='active'" ?> 
          <a href="#/home">
            <i class="fa fa-bell"></i> <span>Notice</span>
          </a>
        </li>
        <li <?php if($active_menu == 'students') echo "class='active'" ?>
          <a href="#/forums">
            <i class="fa fa-users"></i> <span>Forum</span>
          </a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->  





 <br>
              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-12 col-xs-12" >
                  <!-- <a href="#/home" class="btn btn-warning btn-block">Click here to refresh</a> -->
                  <div class="box" style="border-radius: 0; padding-top: 8px;">
                    <div class="box-body">
                        <!-- Post -->
                        
                        <div class="post" ng-repeat="x in notices">
                          <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="http://192.168.43.207/assets/img/profile_pictures/{{x.avatar}}" alt="user image" />
                                <span class="username">
                                  <a href="#">{{x.first_name+' '+x.middle_name}}</a>
                                </span>
                            <span class="description">{{x.user_type}} - {{x.date_posted}}</span>
                          </div>
                          <!-- /.user-block -->
                          <h5>{{x.title}}</h5>
                          <p>{{x.content}} </p>
                          <ul class="list-inline">
                            <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                            </li>
                            <li class="pull-right">
                              <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                                (5)</a></li>
                          </ul>

                          <form method="POST" action="http://192.168.43.207/welcome/comment" class="form-horizontal" >
                            <div class="form-group margin-bottom-none">
                              <input type="text" name="nid" value="2" hidden >
                              <div class="col-sm-10">
                                <input class="form-control input-sm" name="comment_content" placeholder="Comment" >
                              </div>
                              <div class="col-sm-2">
                                <button type="submit" class="btn btn-info pull-right btn-block btn-sm">Comment</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- /.post -->

              </div>
            </div>
          </div>

<!--           </div>

      </section>
      /.content


    </div>
  </div>

 -->

