

  <ng-include src="'templates/header.html'"></ng-include>


 <br>
              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-12 col-xs-12" >
                  <!-- <a href="#/home" class="btn btn-warning btn-block">Click here to refresh</a> -->
                  <div class="box" style="border-radius: 0; padding-top: 8px;">
                    <div class="box-body">
                        <!-- Post -->
                        
                        <div class="post" ng-repeat="x in notices">
                          <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="http://192.168.43.207/assets/img/profile_pictures/{{x.avatar}}" alt="user image" />
                                <span class="username">
                                  <a href="#">{{x.first_name+' '+x.middle_name}}</a>
                                </span>
                            <span class="description">{{x.user_type}} - {{x.date_posted}}</span>
                          </div>
                          <!-- /.user-block -->
                          <a href="" ng-click="openNotice(x.nid)"><h5>{{x.title}}</h5></a>
                          <p>{{x.content}} </p>
                        <!-- /.post -->

              </div>
            </div>
          </div>

<!--           </div>

      </section>
      /.content


    </div>
  </div>

 -->

